
h1 The BookStore


form(action='addBook' method='get')
	button(id="addbutton" value="button" onclick="return validate()")
		h3 Add


form(action='deleteBook' method='get')
	button(id="addbutton" value="button" onclick="return validate()")
		h3 Delete


form(action='updateBook' method='get')
	button(id="addbutton" value="button" onclick="return validate()")
		h3 Update


form(action='searchBook' method='get')
	button(id="addbutton" value="button" onclick="return validate()")
		h3 Search