head
	script(type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js')

form(action='searchData' method='post' id='searchForm')
	select(name='mydropdown')
		option(value='bookId') bookId
		option(value='bookName') bookName
		option(value='bookAuthor') bookAuthor

		input(type='text'  name='BookId')
		br

	input(type="button" id ="searchbtn" class="searchbtn" value="search")

	div#serchData

	//button(id="searchbutton" value="button")
	//	|Search